
#acceuil
#Bon_plan
#Nos_telephone

header{
background-color: white;
color: black;
}
.header{

    
}

.carousel {
  width: 400px;
  overflow: hidden;
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

