
#acceuil
#Bon_plan
#Nos_telephone

header{
background-color: white;
color: black;
}
body {
    font-family: 'Inter', sans-serif;
}


.carousel {
    width: 100%;
    overflow: hidden;
}
.carousel img {
    width: 100%;
    height: 350px;      /* ajuste la hauteur comme tu veux */
    object-fit: contain; /* garde les proportions sans couper */
}


.slides {
    display: flex;
    width: 400%; /* 4 images */
   animation: defilement 20s infinite linear;  /* Cette ligne lance l’animation nommée defilement, dure 12 secondes, tourne en boucle et avance à vitesse constante.*/ 
}

.slides img {
    width: 100%;
}

@keyframes defilement {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-100%); }
    50%  { transform: translateX(-200%); }
    75%  { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}
/* Keyframe permet de faire defiler les image */




.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* centre horizontalement */
    gap: 40px; /* espace entre les liens */
}

.menu a {
    text-decoration: none; /* enlève le soulignement des liens */
    font-weight: 600; /*met le texte en semi‑gras*/
    color: black; /*change la couleur du texte*/
}
