#acceuil
#Bon_plan
#Nos_telephone

header{
background-color: white;
color: black;
}
.bonplan{
 display: flex;
justify-content: center;

}
.bon_plans{
 font-weight: bold;   /* met le texte en gras */
    margin-bottom: 8px;  /* espace entre le texte et l'image */
    display: block;      /* garantit qu'il reste au-dessus */
}




}