#acceuil
#Bon_plan
#Nos_telephone

body{ /* Sert a faire fonctionner la police custom */
    font-family: 'Inter', sans-serif;
}








header{ /* Permet de mettre la couleur dans le fond de la partie head et la couleur principale */
background-color: white;
color: black;
}
.bonplan{ /*Transoforme le conteneur flexible et centre le contenu horizontalement */
 display: flex;
justify-content: center;

}
.bon_plans{
 font-weight: bold;   /* met le texte en gras */
    margin-bottom: 8px;  /* espace entre le texte et l'image */
    display: block;      /* garantit qu'il reste au-dessus */
}

.menu ul {
    list-style: none; /*sert à enlever les puces ou numéros des listes.*/
    padding: 0; /* Fait des espace pour le menu */
    margin: 0; /* Fait une marge*/
    display: flex; /*Permet d organiser les element*/
    justify-content: center; /* centre horizontalement */
    gap: 40px; /* espace entre les liens */
}

.menu a {
    text-decoration: none; /* enlève le soulignement des liens */
    font-weight: 600; /*met le texte en semi‑gras*/
    color: black; /*change la couleur du texte*/
}


.texte-tel-1 {
    grid-column-start: 1; /* place le texte sous la première image dans la première colonne */
    grid-column-end: 2; /* finit avant la deuxième colonne */
    grid-row: 2/3; /* place le texte dans la deuxième ligne */
}